.navbar {
    background-color: rgba(5, 9, 213, 0.537);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-icon {
    font-size: 18px;
  }
  
  .nav-item:hover {
    color: #fdbb30;
  }
  
  .highlight {
    color: #fdbb30;
  }

  .nav-links li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .nav-links li:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  